---
title: Documentation
layout: default
---

## User documentation
- [README](README.markdown)
- [Tips](doc/tips.markdown)
- [Using Yokadi as a bugtracker](doc/bugtracking.markdown)
- [Using Manage Yokadi tasks with third party ical aware tool](doc/ical.markdown)

## Developer documentation
- [Hacking on Yokadi](doc/hacking.markdown)
