---
title: Documentation
layout: default
---

## User documentation
- [README](README.md)
- [Tips](doc/tips.md)
- [Using Yokadi as a bugtracker](doc/bugtracking.md)
- [Managing Yokadi tasks with a third party ical-aware tool](doc/ical.md)

## Developer documentation
- [Hacking on Yokadi](doc/dev/hacking.md)
- [Handling database updates](doc/dev/db-updates.md)
- [Release process](doc/dev/release.md)
